:root {
    --emt_person_id__9: #8b0000;
    --drittbriefe: #7a6855;
    --emt_person_id__18:  #04207c;
    --emt_person_id__50:  #025802;
    --mehrere_briefe: #545454;
}

:where(acdh-ch-calendar) {
    display: grid;
    font-size: 1rem;
    gap: 2rem
}

acdh-ch-calendar {
    display: grid;
    gap: 4rem;
}

acdh-ch-calendar-year {
	justify-content: center;
}

acdh-ch-calendar caption {
    caption-side: top;
    text-align: center;
    color: var(--bs-body-color);
}

@media (min-width: 40rem) {
    acdh-ch-calendar {
        grid-template-columns: 14rem 1fr;
    }
}

acdh-ch-calendar>label>span {
    display: block;
    font-weight: 600;
    margin-block-end: 1rem;
}

acdh-ch-calendar-year-picker div[role="radiogroup"] {
    gap: 0 2rem;
}

acdh-ch-calendar-year-picker div[role="radiogroup"]>label {
    line-height: 2rem;
}


:where(acdh-ch-calendar-year td > button[data-event-kinds])::after {
    border-radius: 50%;
    z-index: 1;
}


/** When using tailwindcss, explicitly set text and background colors of events. */
acdh-ch-calendar-year td>* {
    background-color: var(--calendar-cell-color);
    color: var(--calendar-cell-color-foreground);
}

acdh-ch-calendar-year td>button[data-event-kinds] {
    --calendar-cell-color: #52525b;
}

acdh-ch-calendar-year td>button[data-event-kinds~="emt_person_id__9.html"] {
    --calendar-cell-color: var(--emt_person_id__9)
}

acdh-ch-calendar-year td>button[data-event-kinds="drittbriefe"] {
    --calendar-cell-color: var(--drittbriefe);
}

acdh-ch-calendar-year td>button[data-event-kinds="emt_person_id__18.html"] {
    --calendar-cell-color: var(--emt_person_id__18);
}

acdh-ch-calendar-year td>button[data-event-kinds="emt_person_id__50.html"] {
    --calendar-cell-color: var(--emt_person_id__50);
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_emt"] {
    /* --calendar-cell-color: color-mix(in srgb, var(--emt_person_id__9) 20%, transparent); */
    --calendar-cell-color: transparent;
    outline: 2px solid var(--emt_person_id__9);
    outline-offset: -2px;
    color: inherit;
    z-index: 1;
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_emt"]::after {
    background-color: var(--emt_person_id__9);
    color: white;
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_jw"] {
    /* --calendar-cell-color: color-mix(in srgb, var(--emt_person_id__18) 20%, transparent); */
    --calendar-cell-color: transparent;
    outline: 2px solid var(--emt_person_id__18);
    outline-offset: -2px;
    color: inherit;
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_jw"]::after {
    background-color: var(--emt_person_id__18);
    color: white;
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_pw"] {
    /* --calendar-cell-color: color-mix(in srgb, var(--emt_person_id__50) 20%, transparent); */
    --calendar-cell-color: transparent;
    outline: 2px solid var(--emt_person_id__50);
    outline-offset: -2px;
    color: inherit;
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_pw"]::after {
    background-color: var(--emt_person_id__50);
    color: white;
}

acdh-ch-calendar-year td>button[data-event-kinds="unknown"] {
    --calendar-cell-color: #5611f7;
}

acdh-ch-calendar-year td>button[data-event-kinds="visits"] {
    --calendar-cell-color: transparent;
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--emt-deco-color);

}
acdh-ch-calendar-year td>button[data-event-kinds~="visits"]:not([data-event-kinds="visits"]) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
}

acdh-ch-calendar-year td>button[data-event-kinds="visits_uncertain"] {
    --calendar-cell-color: transparent;
    color: inherit;
    text-decoration: underline dotted;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--emt-deco-color);
}
acdh-ch-calendar-year td>button[data-event-kinds~="visits_uncertain"]:not([data-event-kinds="visits_uncertain"]) {
    text-decoration: underline dotted;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
}


.emt_person_id__9 {
    background-color: var(--emt_person_id__9)
}

.drittbriefe {
    background-color: var(--drittbriefe)
}

.emt_person_id__18 {
    background-color: var(--emt_person_id__18)
}

.emt_person_id__50 {
    background-color: var(--emt_person_id__50)
}

.mentioned_letter_emt {
    background-color: transparent;
    border: 2px solid var(--emt_person_id__9);
}

.mehrere_briefe {
    background-color: var(--mehrere_briefe)
}


.mentioned_letter_pw {
    background-color: transparent;
    border: 2px solid var(--emt_person_id__50);
}

.mentioned_letter_jw {
    background-color: transparent;
    border: 2px solid var(--emt_person_id__18);
}
.visits {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--emt-deco-color);
}
.visits_uncertain {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--emt-deco-color);
}
/* the legend */
.calendar-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* the select radio group */
input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input[type="radio"]:checked+span {
    outline: 2px solid var(--mehrere_briefe);
    border-radius: 10%;
    outline-offset: 2px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
  }

.legend-item {
    padding-left: 1em
}

acdh-ch-calendar-legend li {
    padding-block: 0.5em;
    display: flex;
    align-items: center ;
}